<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/d3style.css">
    <title>D3 Tool</title>
</head>
<body>
    <h1>Survey Checkpoint Tool</h1>
	<div id="graph"></div>
	<form action="/D3Tool" enctype="multipart/form-data" method="post">
	<button id="skip" type="submit" value="skip">Skip</button>
	<button id="next" type="submit" value="next">Next</button>
	<input type="hidden" name="Xvalue" value= userX>
	<input type="hidden" name="Yvalue" value = userY>
	</form>
    <script src='https://d3js.org/d3.v3.min.js'></script>
    <script src="../public/javascripts/D3_checkpoint.js"></script>
</body>
</html>