extends layout

block content
  h1= title
  p Welcome to #{title}

  #graph
  
  script(src="https://d3js.org/d3.v3.min.js")
  script(src="/javascripts/D3_checkpoint.js")
  script.
    var n = "kkkhjk";
    console.log(n);