<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Form</title>
</head>
<body>
    <form action="posttest" method="post" >
        id:<input type="text" name="dataid">
        toolID:<input type="text" name="toolid">
        labID:<input type="text" name="labid">
        xvalue:<input type="text" name="xvalue">
        yvalue:<input type="text" name="yvalue">
        labcompleted:<input type="text" name="labcompleted">
    
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>