extends layout

block content
  h1= title
  p Welcome to #{title}

  ul#messages
    form(action="")
        input#m
        button Send

    button#h(type="submit" value="help" onclick="helpFunction()") HELP ME
    
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
      var name = 'USER1';
      var socket = io();

      $(function () {
          socket.emit('user connected', name);

          $('form').submit(function(e){
              e.preventDefault(); // prevents page reloading

              socket.emit('chat message', name + ': ' + $('#m').val());
              socket.emit('admin message', name + ': ' + $('#m').val());

              $('#m').val('');
              return false;
          });
          socket.on('chat message', function(msg){
              $('#messages').append($('<li>').text(msg));
          });
      });

      function helpFunction() {
          socket.emit('chat message', name + ': ' + $('#h').val());
          socket.emit('admin message', name + ': ' + $('#h').val());
      }